<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CarRentServlet</servlet-name>
        <servlet-class>cart.CarRentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>newa</servlet-name>
        <servlet-class>cart.newa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PageAddControl</servlet-name>
        <servlet-class>controller.PageAddControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>router</servlet-name>
        <servlet-class>router</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MenuServlet</servlet-name>
        <servlet-class>controller.MenuServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CarServet</servlet-name>
        <servlet-class>controller.CarServet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadImage</servlet-name>
        <servlet-class>controller.UploadImage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>controller.UserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartServlet</servlet-name>
        <servlet-class>controller.CartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminServlet</servlet-name>
        <servlet-class>controller.AdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PageViewServlet</servlet-name>
        <servlet-class>controller.PageViewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CarViewServlet</servlet-name>
        <servlet-class>controller.CarViewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>index</servlet-name>
        <servlet-class>controller.index</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Page</servlet-name>
        <servlet-class>controller.Pages</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cars</servlet-name>
        <servlet-class>controller.Cars</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Users</servlet-name>
        <servlet-class>controller.Users</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserEdit</servlet-name>
        <servlet-class>controller.UserEdit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CarRent</servlet-name>
        <servlet-class>controller.CarRent</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CarRentServlet</servlet-name>
        <url-pattern>/car-rent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>newa</servlet-name>
        <url-pattern>/newa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PageAddControl</servlet-name>
        <url-pattern>/PageAddControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>router</servlet-name>
        <url-pattern>/go</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MenuServlet</servlet-name>
        <url-pattern>/MenuServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CarServet</servlet-name>
        <url-pattern>/CarServet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadImage</servlet-name>
        <url-pattern>/UploadImage</url-pattern>
    </servlet-mapping>
    <servlet>
        <display-name>FileUploadServlet</display-name>
        <servlet-name>FileUploadServlet</servlet-name>
        <servlet-class>net.codejava.upload.FileUploadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FileUploadServlet</servlet-name>
        <url-pattern>/FileUploadServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/UserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartServlet</servlet-name>
        <url-pattern>/CartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminServlet</servlet-name>
        <url-pattern>/AdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PageViewServlet</servlet-name>
        <url-pattern>/PageViewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CarViewServlet</servlet-name>
        <url-pattern>/CarViewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>index</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Page</servlet-name>
        <url-pattern>/Page</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cars</servlet-name>
        <url-pattern>/Car</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Users</servlet-name>
        <url-pattern>/User</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserEdit</servlet-name>
        <url-pattern>/UserEdit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CarRent</servlet-name>
        <url-pattern>/CarRent</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
